Repository radomely/goit-react-hw-01-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "*.{json,css}": ["prettier --write", "git add"],
    "*.js": ["prettier --write", "eslint --fix", "git add"]
}

fixed component TransactionHistory
  .lintstagedrc
Due: none

fixed component TransactionHistory
  .lintstagedrc
  package.json
Due: prettier --write

Updates
  asset-manifest.json
  favicon.ico
  index.html
  manifest.json
  precache-manifest.286e8b2711b4f9959fdbee31387cdb2c.js
  service-worker.js
  static/css/main.9e49707b.chunk.css
  static/css/main.9e49707b.chunk.css.map
  static/js/2.fc0670c8.chunk.js
  static/js/2.fc0670c8.chunk.js.map
  static/js/main.455f62c6.chunk.js
  static/js/main.455f62c6.chunk.js.map
  static/js/runtime~main.681d89f7.js
  static/js/runtime~main.681d89f7.js.map
Due: prettier --write, eslint --fix

fixed linter errors
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

fixed Profile
  src/components/Profile/Profile.module.css
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  precache-manifest.09ed8b35fceb0cdbd8b4f5056d7697e0.js
  service-worker.js
  static/css/main.7804406d.chunk.css
  static/css/main.7804406d.chunk.css.map
  static/css/main.9e49707b.chunk.css.map
  static/js/main.455f62c6.chunk.js.map
Due: prettier --write, eslint --fix
